/* .counter-container{
  text-align: center;
  font-family: sans-serif, Arial;
}
.count-display{
  font-size: 10em;
  margin-top: 0;
  margin-bottom: 50px;
}
.counter-button{
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 5px;
  background-color: hsla(240, 64%, 54%, 0.842);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.counter-button:hover{
   background-color: hsla(240, 64%, 44%, 0.842);
} */
/* body{
  font-family: Arial, sans-serif;
}
.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  margin: 50px;
  font-size: 3rem;
}
.color-display{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid hsl(0,0%,80%);
  border-radius: 25px;
  margin-bottom: 25px;
  transition: 0.3s ease;
}
.color-display p{
  color: hsl(0,0%,20%);
  font-size: 2rem;
  text-align: center;
}
label{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
input[type="color"]{
  width: 75px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid hsl(0,0%,80%);
} */

/* .to-do-list{
  font-family: arial, sans-serif;
  text-align: center; 
  margin: 100px;
}
h1{
  font-size: 4rem;
}
button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.add-button{
  background-color: hsl(125, 47%, 54%);
}
.add-button:hover{
  background-color: hsl(125, 47%, 44%);
}
.delete-button{
  background-color: hsl(10, 90%, 50%);
}
.delete-button:hover{
  background-color: hsl(10, 90%, 40%);
}
.move-button{
  background-color: hsl(207, 90%, 64%);
}
.move-button:hover{
  background-color: hsl(207, 90%, 54%);
}
input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.5);
}
ol{
  padding:0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 80%);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 5px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.text{
  flex: 1;
}
.delete-button,.move-button{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
} */
body{
  background-image: url(https://cdn.wallpapersafari.com/16/56/ZBNPpc.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.clock-container{
  backdrop-filter: blur(5px);
  width: 100vw;
  padding: 10px 0;

}
.clock{
  color: white;
  font-size: 6rem;
  font-weight: bold;
  font-family: monospace;
  text-shadow: 3px 3px 5px hsla(0, 5%, 31%, 0.544);
  text-align: center;
}